<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281862353038-35q3seok1q73u9foeij3al3d7pik3i09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281862353038-35q3seok1q73u9foeij3al3d7pik3i09</string>
	<key>API_KEY</key>
	<string>AIzaSyAHN95WaHBT5Vks6EzMhVO99_9Epj4_bso</string>
	<key>GCM_SENDER_ID</key>
	<string>281862353038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rbk.GoPlace-Driver</string>
	<key>PROJECT_ID</key>
	<string>goplace-driver</string>
	<key>STORAGE_BUCKET</key>
	<string>goplace-driver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281862353038:ios:4bf17fe4a4fc76749719df</string>
</dict>
</plist>